{
  "Smtp": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "UseSsl": true,
    "User": "tu-correo@gmail.com",
    "Password": "contraseña-de-aplicacion-google",
    "FromEmail": "tu-correo@gmail.com"
  }
}
